/* color palette */
:root {
  --turquoise: #16DDEB;
  --light-blue: #16CBEB;
  --blue: #145189;
  --gold: #E1BA54;
  --white: #f3f3f3;

  --turqouise-hover: #17f0ff;
  --blue-hover: #20a6c7;
}

/* semantic color variables */
:root {
  --color-background: var(--white);
  --color-border: var(--light-blue);
  --color-text: var(--blue)
}

::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  scrollbar-width: none;

}

@media (max-width: 768px) {
  html {
    font-size: 14px
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}
