@import './base.css';

#app {
  margin: 0;
  font-weight: normal;
}

.p-button{
  --p-button-padding-x: 2rem;
  --p-button-padding-y: 1.5rem;
  --p-button-rounded-border-radius: 10rem;

  --p-button-primary-background: var(--turquoise);
  --p-button-primary-border-color: var(--turquoise);
  --p-button-primary-hover-background: var(--turqouise-hover);
  --p-button-primary-hover-border-color: var(--turqouise-hover);
}
/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

 Target only devices where hovering is supported:
@media (hover: hover) {
  a:hover {
    background-color: hsla(24, 91%, 58%, 0.2);
  }
}

Tablet and up. 64em for desktops
@media (min-width: 64em) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/